extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 John Brady

        p Web Designer, Developer and Consultant


        .about-bio

          p I've worked with some aspect of the web for over 20 years! I'm always fascinated by the way technology functions, especially from a design perspective. For example, Modularity is a key design principle and it's essential to all successful web projects, whether you're writing code or designing a user interface. Modularity also makes sense when managing teams. 
          p I can be an effective team member and leader working for your company and using the principle of modularity. That said, I have experience not only with technology, but with being human. While I like technology, I love humanity and I'm aware of the dangers of becoming some sort of "iterative tech-insect," yikes!  
          p In all seriousness, emotional intelligence and well-being will always be a core value of mine, from this day forward! I believe productivity spawns naturally from clear thinking, healty humans. It's the only kind of productivity I want to be a part of and I hope you agree!   
          p If so, please feel free to contact me at your earliest convenience. I look forward to meeting you! 


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug 
          li Visual Design

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 801-555-1234
          li email@email.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/jcbrady89/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/jcbrady' target="_blank") GitHub
        a.btn-link(href='https://twitter.com/jcbrady' target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back