extends layout

block content
  div.container

    img.err-img.thumbnail(src="/static/images/Tornadoe1.jpg" width="400" height="300px" alt='Tornado destroying a structure')
    p.caption Photo by 
      a(href="https://unsplash.com/@noaa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText") NOAA on 
      a(href="https://unsplash.com/s/photos/tornado?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText") Unsplash

  div.error
      h1= `It's a "Four Oh Four!"`
      h2 This page is kinda like the Wizzard of Oz in that it doesn't actually exist.
      p= `No need to click your heels together 3 times...`
      a.home(href=`/`)  
        span &larr; 
        | 
        i Simply click here once to go home
      hr
